body {
    font-size: 16px;
    text-align: center;
    height: 100vh;
    width: 100vw;
}
.page {
    border: 2px solid green;;
}
.page-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    background-image: url(../assets/images/film-strip.png);
    background-size: contain;
    border: 2px solid lightgray;
}
.page-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: black;
    border: 2px solid red;
}
.spotlight {

}
.page-footer {
    border: 2px solid lightblue;
}
.footer-navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    background-image: url(../assets/images/film-strip.png);
    background-size: contain;
    border: 2px solid lightpink;
}
.footer-navigation-inlet {
    border: 2px solid pink;
}
.article-hero-frame {
    border: 2px solid yellow;
}
.hero-section {
    border: 2px solid orange;
}
.hero-header {
    border: 2px solid green;
}
.hero-content {
    border: 2px solid green;
}
.hero-footer {
    border: 2px solid green;
}
.article-cv-frame {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    background: radial-gradient(orange, yellow, red);
    border-radius: 100%;
    background-color: gold;
    border: 2px solid yellow;
}
.cv-section {
    border: 2px solid orange;
}
.cv-header {
    border: 2px solid green;
}
.cv-content {
    border: 2px solid green;
}
.cv-footer {
    border: 2px solid green;
}
.article-portfolio-frame {
    border: 2px solid yellow;
}
.portfolio-section {
    border: 2px solid orange;
}
.portfolio-header {
    border: 2px solid green;
}
.portfolio-content {
    border: 2px solid green;
}
.portfolio-footer {
    border: 2px solid green;
}
.to-do-list {
    display: none;
    justify-content: center;
    border-radius: 100%;
    padding: 4px;
    background-color: red;
    border: 2pc solid black;
}
.font-size-xs {
    font-size: 0.75rem;
}
.font-size-base{
    font-size: 1rem;
}
.font-size-md {
    font-size: 1.25rem;
}
.font-size-lg {
    font-size: 1.5rem;
}
.padding-top-sm {
    padding-top: 8px;
}
.padding-top-md {
    padding-top: 16px;
}
.padding-top-lg {
    padding-top: 24px;
}
.padding-right-sm {
    padding-right: 8px;
}
.padding-right-md {
    padding-right: 16px;
}
.padding-right-lg {
    padding-right: 24px;
}
.padding-bottom-sm {
    padding-bottom: 8px;
}
.padding-bottom-md {
    padding-bottom: 16px;
}
.padding-bottom-lg {
    padding-bottom: 24px;
}
.padding-left-sm {
    padding-left: 8px;
}
.padding-left-md {
    padding-left: 16px;
}
.padding-left-lg {
    padding-left: 24px;
}
.padding-sm {
    padding: 8px;
}
.padding-md {
    padding: 16px;
}
.padding-lg {
    padding: 24px;
}